<header>
  <h3>APP de Rick and Morty | UTN</h3>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>

      @if (isLoggedIn) {
        <li><a routerLink="/characters">Characters</a></li>
      }

      <li><a routerLink="/contact">Contact</a></li>

      @if (isLoggedIn) {
        <li><span style="font-size:x-large;font-weight: bold; color: #ff01dd;">Hola {{ userName }}</span></li>
        <li><button (click)="logout()">Cerrar sesión</button></li>
      } @else {
        @if (isLoggingIn) {
          <li>
            <input #nameInput type="text" placeholder="Tu nombre" />
            <button (click)="login(nameInput)">Entrar</button>
          </li>
        } @else {
          <li><button (click)="toggleLogin()">Iniciar sesión</button></li>
        }
      }
    </ul>
  </nav>
</header>
